{% extends 'base.html.twig' %}

{% block title %}WebSocket Server{% endblock %}

{% block body %}
<style> 
    .form-group {
        margin-bottom: 10px;
    }
 
    input {
        border: solid lightgrey 1px;
        padding: 8px;
    }
 
    label {
        display: inline-block;
        min-width: 150px;
    }
 
    #chat {
        height: 400px;
        width: 100%;
        border: solid lightgrey 1px;
        overflow: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
 
    button {
        padding: 6px 12px;
    }
 
    .message {
        padding: 10px 5px;
        margin: 10px;
        border-radius: 5px;
        background: #e2e2e2;
    }
</style>
 
<div class="container">
    <div id="chat">
    
    </div>
    <div>
        <div class="form-group">
            <label for="name">Name:</label> 
            <input type="text" id="name">
        </div>
        <div class="form-group">
            <label for="message">Message:</label> 
            <input type="text" id="message">
        </div>
        <button type="button" class="btn btn-secondary btn-block" id="sendBtn">Send</button>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    const socket = new WebSocket("ws://172.16.24.26:3001");
    
    // Open connection
    socket.addEventListener("open", function() {
        console.log("CONNECTED");
    });

    // Send messages
    document.getElementById("sendBtn").addEventListener("click", function() {
        const message = {
            name: document.getElementById("name").value,
            message: document.getElementById("message").value
        };
        socket.send(JSON.stringify(message));
        addMessage(message.name, message.message);
    });

    // Recieve messages
    socket.addEventListener("message", function(e) {
        console.log(e.data);
        try
        {
            const message = JSON.parse(e.data);
            addMessage(message.name, message.message);
        }
        catch(e)
        {
            // Catch any errors
        }
    });

    // Add messages to DOM
    function addMessage(name, message) {
        const messageHTML = "<div class='message'><strong>" + name + ":</strong> " + message + "</div>";
        document.getElementById("chat").innerHTML += messageHTML
    }
</script>
{% endblock %}